.App {
  text-align: center;
}

.svg-container {
  width: 80vh !important;
  height: 80vh !important;
}

.container-fluid {
  width: auto;
  height: auto;
  background-color: #161616 !important;
  overflow: auto;
}
.modebar {
  /* display: none !important; */

  float: center !important;
}

.js-plotly-plot .plotly .modebar {
  left: 50%;
  transform: translateX(-60%);
}

footer.sticky-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100% !important;
  height: 65px;
  background-color: transparent;
  line-height: 15px;
}
@media (min-width: 992px) {
  footer.sticky-footer {
    width: calc(100% - 250px);
  }
}
@media (min-width: 992px) {
  body.sidenav-toggled footer.sticky-footer {
    width: calc(100% - 66px);
  }
}

.no-highlight {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 58vh;
  overflow: auto;
}

.counter-nav {
  padding: 1vh 1vh;
  width: 37vh;
  font-size: 12px;
  margin-right: auto;
  margin-left: auto;
}

.nav-tabs {
  border-bottom: hidden;
}

.nav-link.active {
  background-color: #343434 !important;
  border-color: black !important;
  border-style: solid !important;
}

.nav-link {
  border: 1px solid !important;
  border-color: black !important;
  border-radius: 0 !important;
  width: 33.3333333333333%;
}

.a {
  color: #99aab5 !important;
  background-color: gray !important;
}

a:-webkit-any-link {
  color: #99aab5 !important;
}

.a:hover {
  color: #99aab5 !important;
  background-color: gray !important;
}

.counter {
  background-color: transparent !important;
  font-family: "Times";
  padding: 0vh 0vh;
  width: 35vh;
  border-style: solid;
  border-width: 0.5vh;
  border-color: black;
  border-radius: 0rem;
  margin-left: 0rem !important;
}
.list {
  border-top-style: hidden;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  text-align: left;
  padding: 0px;
}

.table-dark {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px 6px;
  color: #99aab5 !important;
}

tbody > tr > td {
  border-bottom: 1px solid black;
}

tr > td {
  padding-bottom: 6px;
}

.custom-switch .custom-control-label::before {
  background-color: #99aab5 !important;
  border-style: none;
}

.custom-switch .custom-control-label::after {
  background-color: #161616 !important;
  border-style: none;
}

.btn-outline-dark {
  border: 1px solid !important;
  border-color: black !important;
  border-radius: 0rem;
  color: #99aab5 !important;
}

.btn-outline-dark:active {
  background-color: #343434 !important ;
}
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.2rem #99aab5 !important;
}

.clicked {
  border: 1px solid !important;
  border-color: black !important;
  border-radius: 0rem;
  background-color: #343434 !important ;
}

.modal-content {
  text-align: center !important;
  align-content: center !important;
  background-color: #161616 !important;
}

.modal-header {
  background-color: #161616 !important;
  border: hidden;
}

.modal-body {
  display: block;
  background-color: #161616 !important;
}
