.App {
  text-align: center;
}

.svg-container {
  width: 80vh !important;
  height: 80vh !important;
}

.container-fluid {
  width: auto;
  height: auto;
  background-color: #161616 !important;
  overflow: auto;
}

.no-highlight {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.my-custom-scrollbar {
  position: relative;
  height: 585px;
  overflow: auto;
}

.counter {
  background-color: transparent !important;
  font-family: "Times";
  padding: 1rem 1rem;
  width: 25rem;
  border-style: solid;
  border-width: 0.5rem;
  border-color: black;
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.list {
  border-top-style: hidden;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  text-align: left;
  padding: 0px;
}

.table-dark {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0px 6px;
}

tbody > tr > td {
  border-bottom: 1px solid black;
}

tr > td {
  padding-bottom: 6px;
}
